# Build
build/
*.class
SimplePacker.jar
stub.dex
stub.zip

# Packer temp
tmp_pack/

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store

checkdependencies.sh
install-android-sdk.sh

ui_test.apk.idsig


emulator_packertest.apk
emulator_packertest.apk.idsig

packed_test.apk
packed_test.apk.idsig


tmp_debug/
tmp_debug2/

ui_test_app/
